{% extends 'base.html' %}

{% block title %}Блоги{% endblock title %}

{% block content %}


{% if user.is_authenticated %}


<h3 class="text-md-center">Список блогов:</h3>

<div class="main-container">

    {% for blog in blog_list %}

    <div id="layer2" class="container">
        <div class="card">
            <div class="card-body"><!-- Начало текстового контента -->
                <button class="info nullbutton">
                    <a href="{% url 'detail_blog' blog.pk %}">
                        <font color="black">{{ blog.owner }}</font>
                    </a>
                </button>
            </div>
            <button class="info nullbutton">
                <a href="{% url 'detail_blog' blog.pk %}" class="btn bg-dark text-white">Смотреть полностью</a>
            </button>
        </div>
    </div>
</div>
<hr>

{% endfor %}

{% endif %}

{% endblock content %}