{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

<style>

        table {
            width: 1500px; /* Ширина таблицы */
            margin: auto; /* Выравниваем таблицу по центру */
        }

        td, th {
            border: 2px solid green; /* Рамка вокруг таблицы */
            text-align: center; /* Выравниваем текст по центру ячейки */
        }
        input.btn.btn-dark {
 float: right;
}
input.btn-dark {
 float: top;
}
    </style>


    <h3 class="text-md-center">Список всех  блогеров:</h3>

<div class="main-container">


    <form>
        {% csrf_token %}

        <div class="container">

                {% for  blog  in  userblog_list %}

                    {{ blog.owner }}



                       <input class="btn-dark" type="button" value="Читать блог"
                                   onclick="location.href='{% url 'detail_blog' '">



                {% endfor %}




        </div>

    </form>


</div>

{% endif %}

{% endblock content %}