{% extends 'base.html' %}

{% block title %}Блоги{% endblock title %}

{% block content %}

<style type="text/css">
    #layer2 {
        width: 5%; /* Ширина второго слоя */
        background: #cc0;
    }


</style>
{% if user.is_authenticated %}


<h3 class="text-md-center">Список блогов:</h3>

<div class="main-container">

    {% for blog in userblog_list %}

    <div id="layer2" class="container">
        <div class="card">
            <div class="card-body"><!-- Начало текстового контента -->
                {{ blog.owner }}
            </div>
            <button class="info nullbutton" >
     <a href="{% url 'detail_blog' blog.pk %}" class="btn bg-dark text-white">Смотреть полностью</a>
 </button>
                   </div>
                   </div>






        </div>
        <hr>

        {% endfor %}





</div>

{% endif %}

{% endblock content %}