{% extends 'base.html' %}


{% block content %}

    <div class="card text-center" style=" background-image:
     url('https://images.wallpaperscraft.ru/image/gruzovik_mashina_fary_160215_1600x900.jpg');">
        <div class="card-header">
            <h2 class="card-title">Блог блогера, {{ blog }}</h2>
        </div>

    <div class="comment">
        <hr color="white">
        <h3 align="center">Новости Блога</h3>
        <hr color="white">

         {% if user.is_authenticated and request.user %}
    </div>
    <div class="card text-center" style="background-color: #16181b">
        <div class="col-lg-5" >
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" value="Добавить" class="btn btn-dark">Добавить</button>
            </form>
        </div>
    </div>
    {% endif %}

{% for i in  new_list %}
        <hr color="white">
        <div style="background-color: #16181b" class="col">
            <h5> Название: {{i.title}}</h5>
            <h5>Содержание: {{ i.news_text }}</h5>
            <p>Автор комментария, {{ i.author }}.</p>

            <p>Опубликовано {{ i.created_at }} </p>
        </div>

        <hr color="white">
            </div>
{% endfor %}

{% endblock content %}


