{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

<style>

    table {
        width: 1500px; /* Ширина таблицы */
        margin: auto; /* Выравниваем таблицу по центру */
    }

    td, th {
        border: 2px solid green; /* Рамка вокруг таблицы */
        text-align: center; /* Выравниваем текст по центру ячейки */
    }

    input.btn.btn-dark {
        float: right;
    }

    input.btn-dark {
        float: top;
    }
</style>


<h3 class="text-md-center">Список всех блогеров:</h3>

<div class="main-container">


    <form>
        {% csrf_token %}

        <div class="table-responsive-lg">
            <table class="table table-hover table-dark" style="background-color: cornflowerblue ">
                <thead>
                <tr>

                    <th scope="col">Блогер</th>
                    <th scope="col">Электронная почта</th>

                </tr>
                {% for user in user_list %}
                <tr>
                    <td>
                        <a href="{% url 'detail_blog' user.pk %}">
                            <font color="black"><b>{{ user.username }}</b></font>
                        </a>
                    </td>

                    <td>{{ user.email }}</td>

                </tr>


                {% endfor %}


                </thead>

            </table>
            <input class="btn-dark" type="button" value="Смотреть все блоги"
                   onclick="location.href='{% url 'list_blog' %}'">

        </div>

    </form>


</div>

{% endif %}

{% endblock content %}